services:
  app:
    build: .
    restart: always
    ports:
      - "80:3000"
    environment:
      - DATABASE_URL=postgresql://user:pass@db:5432/rent_manager?schema=public
      - WORKER_SECRET=rent-manager-worker-secret-123
      - AUTH_SECRET=rent-manager-auth-secret-super-long-456
      - AUTH_TRUST_HOST=true
      - NEXTAUTH_URL=http://94.143.141.204
      - APP_BASE_URL=http://94.143.141.204
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: rent_manager
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
