services:
  app:
    build: .
    restart: always
    ports:
      - "80:3000"
    environment:
      - DATABASE_URL=postgresql://user:pass@db:5432/rent_manager?schema=public
      - WORKER_SECRET=${WORKER_SECRET}
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_TRUST_HOST=true
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - APP_BASE_URL=${NEXTAUTH_URL}
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: rent_manager
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
